@import 'style-extra/variables.scss';

.Problem {
    width: 100%;
    text-align: center;
    
    .InnerProblem {
        text-align: left;
        min-height: 100vh;
        padding: 50px 5%;
        max-width: 1200px;
        margin: 0 auto;
    }
    
    .Double {
        display: flex;
        align-content: flex-start;
        justify-content: center;
        flex-flow: column nowrap;
        @media screen and (min-width: 720px) {
            flex-flow: row nowrap;
        }
    }
    .Column {
        flex: 1;
        padding: 20px;
    }
    .Left {
        @media screen and (min-width: 720px) {
            padding-left: 0;
        }
        img {
            box-shadow: 0 5px 20px rgba(black, 0.6);
        }
    }
    .Right {
        @media screen and (min-width: 720px) {
            padding-right: 0;
        }
    }
    
    .ProblemHeader {
//        margin-bottom: 0.5em;
    }
    
    p {
        margin-bottom: 1em;
    }
}
