@import 'style-extra/variables.scss';

.Home {
    min-height: 100vh;
    text-align: center;
    padding: 50px 5%;
    max-width: 1200px;
    margin: 0 auto;
    .Header {
        display: inline-block;
        position: relative;
        z-index: 1;

        &:after {
            content: '';
            background-color: $accentColor;
            position: absolute;
            z-index: -1;
            bottom: 0;
            left: -3%;
            width: 80%;
            height: 40%;
        }
    }

    .Subheader {
        display: inline-block;
        max-width: 900px;
    }

    .IntroPic {
        width: 100%;
        box-shadow: 0 5px 20px rgba(black, 0.6);
    }
}
